<mat-form-field appearance="fill">
  <mat-label>Categories</mat-label>
  <mat-select [formControl]="category">
    <mat-option *ngFor="let category of categories" [value]="category">{{
      category
    }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Impresonate Chuck Norris</mat-label>
  <input matInput placeholder="Placeholder" [formControl]="impersonate" />
</mat-form-field>
<button
  mat-raised-button
  color="primary"
  type="submit"
  class="mb-1"
  (click)="onSubmit()"
>
  Draw a random
  {{ impersonate?.value ? impersonate.value : "Chuck Norris" }} Joke
</button>
<div class="row mt-12">
  <chuck-number-input class="col-4" [formControl]="number"></chuck-number-input>
  <button
    class="col-8"
    mat-raised-button
    color="accent"
    type="submit"
    (click)="onSave()"
  >
    Save jokes
  </button>
</div>
