<mat-form-field appearance="fill">
  <mat-label>Categories</mat-label>
  <mat-select [formControl]="category">
    <mat-option *ngFor="let category of categories" [value]="category">{{
      category
    }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Impersonate Chuck Norris</mat-label>
  <input matInput placeholder="Placeholder" [formControl]="impersonate" />
</mat-form-field>
<button
  mat-raised-button
  color="primary"
  type="submit"
  class="mb-1"
  (click)="onSubmit()"
>
  Draw a random
  {{ impersonate?.value ? impersonate.value : "Chuck Norris" }} Joke
</button>
<div class="row mt-12">
  <chuck-number-input
    class="col-lg-4"
    [formControl]="number"
  ></chuck-number-input>
  <div class="col-lg-8 mt-3 d-flex justify-content-stretch">
    <button
      class="flex-grow-1"
      mat-raised-button
      color="accent"
      type="submit"
      (click)="onSave()"
    >
      Save jokes
    </button>
  </div>
</div>
