@import "../../../styles/variables";

.input-container {
  border-radius: 6px;
  background-color: $gray-2;
}

.number-input {
  background: inherit;
  border: none;
  appearance: textfield;
  outline: none;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.invalid {
  background-color: var(--warn-color);
}

mat-icon {
  flex-shrink: 0;
  cursor: pointer;
}

:host {
  ::ng-deep {
    .mat-form-field-infix {
      display: block;
      position: relative;
      flex: auto;
      min-width: 0;
      width: unset;
      padding: 0;
      border: 0;
    }
    .mat-form-field-wrapper {
      padding: 0;
      border: none;
    }
  }
}
